</main>
<footer>
  <main>
		<p>
made with ❤️ by <a href=mailto:david.porter@fastmail.com>David Porter </a><br>
</p>
<p style="width: 100%; text-align:right">
logged in as: <%= user %>
</p>
</main>
</footer>

<script id="__bs_script__">//<![CDATA[
  document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.27.9'><\/script>".replace("HOST", location.hostname));
//]]></script>

</body>
</html>