</main>
<footer>
  <main>
		<p>
made with ❤️ by <a href=mailto:david.porter@fastmail.com>David Porter </a><br>
</p>
<p style="width: 100%; text-align:right">
logged in as: <%= user %>
</p>
</main>
</footer>


</body>
</html>