</main>
<footer>
  <main style="background-color:var(--color-very-light);">

		<ul id=footLinks>
			<li><a href=/>Home</a></li>
			<li><a href=/order/new >New Order</a></li>
			<li><a href=/order >Orders</a></li>
			<li><a href=/garment >Products</a></li>
			<li><a href=/purchasing >Purchasing</a></li>
			<li><a href=/sales >History</a></li>
		</ul>

<p style="text-align:right; ">
logged in as: <%= user %>
</p>
</main>
</footer>




<script>
	// show h2 heading on local host
	if (window.location.hostname == "localhost")
		document.getElementById("localh2").style.display="block"

	// scroll to top
	const showOnPx = 100;
	const backToTopButton = document.querySelector(".back-to-top");

	const scrollContainer = () => {
		return document.documentElement || document.body;
	};

	const goToTop = () => {
		document.body.scrollIntoView({
			behavior: "smooth"
		});
	};

document.addEventListener("scroll", () => {
	//console.log("Scroll Height: ", scrollContainer().scrollHeight);
	//console.log("Client Height: ", scrollContainer().clientHeight);

	const scrolledPercentage =
		(scrollContainer().scrollTop /
			(scrollContainer().scrollHeight - scrollContainer().clientHeight)) *
		100;

	if (scrollContainer().scrollTop > showOnPx) {
		backToTopButton.classList.remove("hidden");
	} else {
		backToTopButton.classList.add("hidden");
	}
});

	backToTopButton.addEventListener("click", goToTop);
</script>

</body>
</html>