<!doctype html>
<html lang=en>

<head>
	<meta charset=utf-8>
	<title>SunPrints Order System | <%- title %> </title>
	<meta name=viewport content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="icon"
		href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☀️</text></svg>">
	<link rel=stylesheet href=/stylesheets/gd.css>

	<link rel=stylesheet href=/stylesheets/theme.css>
	<link rel=stylesheet href=/stylesheets/datatables-1.11.5.css>
	<link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css>
	<!-- <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css> -->
	<!-- <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/font-awesome/5.15.4/css/font-awesome.min.css> -->
	<!-- <link rel=stylesheet href=http://use.fontawesome.com/releases/v5.0.7/css/all.css> -->
	<!-- <link rel=stylesheet href=https://use.fontawesome.com/releases/v5.15.4/css/all.css> -->
	<!-- <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css> -->

	<script src=/javascripts/datatables-1.11.5.js></script><!-- this has jquery dependency bundled -->
	<script src=/javascripts/vue-3.2.33.js></script>

	<% if (title=="Home" ) { %>

		<% } else if (title=="New Order" || title=="Edit Order" ) { %>
			<link rel=stylesheet href=/stylesheets/fixedHeader.dataTables.min.css>
			<script src=/javascripts/dataTables.fixedHeader.min.js></script>
		<% } else if (title=="Orders" ) { %>
			<link rel=stylesheet href=/stylesheets/fixedHeader.dataTables.min.css>
			<link rel=stylesheet href=/stylesheets/buttons.dataTables-2.2.3.css>
			<link rel=stylesheet href=/stylesheets/order-theme.css>
			<script src=/javascripts/dataTables.fixedHeader.min.js></script>
			<script src="/javascripts/dataTables.buttons-2.2.3.js"></script>
		<% } else if (title=="Print Designs" || title=="Embroidery Designs" || title=="Transfer Designs" ) { %>
			<link rel=stylesheet href=/stylesheets/printdesign-theme.css>
		<% } else if (title=="Usb" ) { %>
			<link rel=stylesheet href=/stylesheets/usb-theme.css>
		<% } else if (title=="Transfer Designs" ) { %>
			<link rel=stylesheet href="/stylesheets/transfer-theme.css">
		<% } else if (title=="Transfer Names" ) { %>
			<link rel=stylesheet href="/stylesheets/transfername-theme.css">
		<% } else if (title=="Purchasing" ) { %>
			<link rel=stylesheet href=/stylesheets/fixedHeader.dataTables.min.css>
			<link rel=stylesheet href="/stylesheets/purchasing-theme.css">
		<% } else if (title=="Audit Log" ) { %>
			<link rel=stylesheet href=/stylesheets/fixedHeader.dataTables.min.css>
		<% } %>



</head>

<body>
	<button class="back-to-top hidden">
		 <svg class="back-to-top-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
			<path stroke-width=2 fill-rule="evenodd" d="M10 18a.75.75 0 01-.75-.75V4.612L4.29 9.77a.75.75 0 01-1.08-1.04l6.25-6.5a.75.75 0 011.08 0l6.25 6.5a.75.75 0 11-1.08 1.04l-4.96-5.158V17.25A.75.75 0 0110 18z" clip-rule="evenodd" />
		</svg>
	</button>

	<header>
		<nav>
			<h1><a href=/><img src="/images/banner.webp" /></a></h1>
			<ul>
				<li><a href=/>Home</a></li>
				<li><a href=/order/new target=_blank>New Order</a></li>
				<li><a href=/order target=_blank>Orders</a></li>
				<li><a href=/garment target=_blank>Products</a></li>
				<li><a href=/purchasing target=_blank>Purchasing</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<h1>SunPrints — <%- title %></h1>
		<!-- <h2>User Acceptance Testing — <i>Not</i> Live Data</h2> -->

