<%- include("partials/head.ejs") %>

<% if (poweruser || salesrep) { %> 
	<p>
		<a href=/customer/edit?id=0>New Customer</a>
	</p>
<% } %>


 </main> <!-- end main from header -->

 <main class="wider"> <!-- a wider main because our table needs to be big -->

<div style="overflow-x:auto">
	<table id="customersTable" class="display compact" >
		<thead>
			<tr>
				<th>Id</th><!-- will be hidden -->
				<th>Code</th>
				<th>Company</th>
				<th>Notes</th>
				<th>Name</th>
				<th>Surname</th> <!-- visible:false -->
				<th>Contact</th>
				<th>Address</th>
				<th>Delivery Notes</th>
				<th>Sales Rep</th>
				<th>Last Order</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

</main> <!-- end wider -->

<main> <!-- restart main, end tag is in footer -->

<dialog id="successDialog">
	<form method="dialog">
		<h5>✅ Success</h5>
		<p>We have deleted the customer. <a href="/customer/deleted">Restore</a></p>
		<button>OK</button>
	</form>
</dialog>


<script>

// initialise DataTable
window.datatable = new DataTable("table#customersTable", {
	fixedHeader: true,
	processing: true,
	serverSide: true,
	ajax: "/customer/dt",
	order: [[2, "asc"]],
	orderMulti: false,
	language: {
		searchPlaceholder: "code, company or name"
	},
	columns: [
		{ 
			data: "CustomerId",
			title: "",
			orderable: false,
			searchable: false,
			width: "2em",
			render(data) {
<% if (poweruser || salesrep) { %> 
				return `<a href=/customer/edit?id=${data}><span class="fa fa-lg fa-edit"></span></a>&emsp;
				<a href=# onclick="deleteCustomer(event, ${data})"><span class="fa fa-lg fa-trash"></span></a>`
<% } else { %>
				return ""
<% } %>
			}
		},
		{ 
			data: "Code",
			width: "3em",
		},
		{ data: "Company" },
		{ 
			data: "CustNotes",
			title: "Our Notes",
			orderable: false,
			searchable: false,
		},
		{ 
			data: "FirstName",
			orderable: false, 
			render(data, type, row) {
				const items = []
				if (data)
					items.push(data)
				if (row.Surname)
					items.push(row.Surname)
				return items.join("<br>")
			} 
		},
		{
			data: "Surname",
			visible: false,
		},
		{ 
			data: "PhoneMobile", 
			orderable: false,
			class: "breakall",
			searchable: false,
			render: (data, type, row) => {
				const items = []
				if (row.PhoneMobile)
					items.push(`M: <a href="tel:${row.PhoneMobile}">${row.PhoneMobile}</a>`)
				if (row.PhoneOffice)
				items.push(`O: <a href="tel:${row.PhoneOffice}">${row.PhoneOffice}</a>`)
				if (row.PhoneHome)
					items.push(`H: <a href="tel:${row.PhoneHome}">${row.PhoneHome}</a>`)
				if (row.Fax)
					items.push(`F: <a href="tel:${row.Fax}">${row.Fax}</a>`)
				if (row.Email) {
					const parts = row.Email.split(",")
					parts.forEach(p => items.push(`E: <a href="mailto:${p}">${p}</a>`) )
				}
				return items.join("<br>")
			}
		},
		{ 
			data: "AddressLine1", 
			orderable: false,
			searchable: false, 
			render(data, type, row) { 
				const items = []
				if (row.AddressLine1)
					items.push(row.AddressLine1)
				if (row.AddressLine2)
					items.push(row.AddressLine2)
				const locality = [row.Locality, row.State, row.Postcode].join(" ").trim()
				if (locality.length > 0)
					items.push(locality)
				return items.join("<br>")
			}
		},
		{
			data: "Notes",
			title: "Delivery Notes",
			searchable: false,
			orderable: false, 
		},
		{
			data: "SalesRep",
			width: "3em"
		},
		{ 
			data: "maxdate", 
			width: "4em",
			searchable: false,
			render(data, type, row) {
				const timestamp = Date.parse(data)
				let retVal = isNaN(timestamp) ? "" : `${new Date(timestamp).toLocaleString("en-AU", {dateStyle: "short"})}<br>`
<% if (poweruser || salesrep) { %> 
				retVal += `<a class=action-link href=/order/new?customerid=${row.CustomerId}&salesrep=${row.SalesRep} title="start a new order with this customer preselected">New Order</a>`
<% } %>
				return retVal
			}
		}
	]
})


function deleteCustomer(event, id) {
	event.preventDefault()

	fetch(`/customer/${id}`, { method: "DELETE"})
	.then(response => {
		if (response.ok) {
			document.getElementById("successDialog").showModal()
			window.datatable.ajax.reload(null, false)
		}
		else {
			throw new Error(response.statusText)
		}
	})
	.catch(error => window.alert(`We encountered an error: ${error}`))


}
</script>



<%- include('partials/foot.ejs'); %>