<%- include("partials/head.ejs") %>

<style>
	.follow-up-date > input {
		all: revert !important;
	}
</style>

<div id=app>
<details v-if="customers.length > 0" open>
	<summary>Customers due for follow up</summary>
	<table>
		<tr v-for="c in customers">
			<td v-html="getCompany(c)"></td>
			<td style=width:15rem><a :href="`mailto:${c.Email}`">{{ c.Email }}</a></td>
			<td v-html="getPhones(c)"></td>
			<td class=follow-up-date><input :data-id="c.CustomerId" :value="c.FollowUpDate" type=date /><input type="button" value="set next" @click="setReminder(c.CustomerId)" /></td>
			<td style=width:2rem><a href=# title="no more reminders" @click="setReminder(c, true)"><i class="fa fa-ban fa-lg" style=color:red></i></a></td>
		</tr>
	</table>
</details>
</div>


	<section>
		<div>
			<h5>Orders</h5>
			<ul>
<% if (poweruser) { %> 
				<li><a href=/order/new>New order</a></li>
<% } %>
				<li><a href=/order>Orders</a></li>
				<li><a href=/sales>Sales History</a></li>
				<li><a href=/customer>Customers</a></li>
				<li><a href="/order/xero">Export Invoices</a>
			</ul>
		</div>
		<div>
			<h5>Products</h5>
			<ul>
				<li><a href=/purchasing>Purchase Orders</a></li>
				<li><a href=/garment>Products</a></li>
				<li><a href=/garment/warninglist>Warnings</a></li>
				<li><a href=/supplier>Suppliers</a></li>
			</ul>
		</div>
		<div>
			<h5>Designs</h5>
			<ul style="column-count:2">
					<li><a href=/print>Prints</a>
					<li><a href=/embroidery>Embroidery</a>
					<li><a href=/transfer>Transfers</a>
					<li><a href=/screen>Screens</a>
					<li><a href=/usb>Usbs</a>
					<li><a href=/transfer/name>Transfer names</a>
				</ul>
		</div>
	</section>
<p>
	<a href="How to Install on laptop.docx">How to install on laptop</a>
		<!-- empty space --><br>
</p>
	<section>
		<div>
				<h5>Administration</h5>
		<ul>
<% if (poweruser) { %> 
			<li><a href=/rep>Sales Reps</a></li>
			<li><a href=/user>Users</a></li>
			<li><a href=/auditlog>Audit Log</a></li>
<% } %>
		</ul>
	</div>
</section>

<section>
	<div>
		<h5>Deleted records</h5>
		<ul style="columns:2">
			<li><a href="/customer/deleted">Customers</a></li>
			<li><a href="/order/deleted">Orders</a></li>
			<li><a href="/supplier/deleted">Suppliers</a></li>
			<li><a href="/garment/deleted">Garments</a></li>
			<li><a href="/print/deleted">Print designs</a></li>
			<li><a href=/screen/deleted>Screens</a></li>
			<li><a href=/embroidery/deleted>Embroidery designs</a></li>
			<li><a href=/usb/deleted>Usbs</a></li>
			<li><a href=/transfer/deleted>Transfer designs</a></li>
			<li><a href=/transfer/name/deleted>Transfer names</a></li>
	</ul>
	</div>
</section>


<script>
	const customers = <%- JSON.stringify(customers) %>
	console.log(customers)

	Vue.createApp({
	data() {
		return {
			customers
		}
	},
	methods: {
		getCompany(c) {
			var result = /*html*/`<a href=/customer/edit?id=${c.CustomerId}>${c.Company}</a>`
			var locationItems = []
			if (c.Locality)
				locationItems.push(c.Locality)
			if (c.State)
				locationItems.push(c.State)
			result += /*html*/`<br>${locationItems.join(", ")}`
			return result
		},
		getPhones(c) {
			var phones = []
			var items = [
				{ col: "PhoneOffice", abb: "O"}, 
				{ col: "PhoneHome", abb: "H"},
				{ col: "PhoneMobile", abb: "M"}
			]
			items.forEach(p => {
				if (c[p.col])
					phones.push(/*html*/`${p.abb}: <a href=tel:${c[p.col]}>${c[p.col]}</a>`)
			})
			return phones.join("<br>")
		},
		setReminder(customerId, remove) {
			var input = document.querySelector(`input[data-id="${customerId}"]`)
			var date = input.value
			if (remove)
				date = null
			fetch(`/customer/${customerId}/followupdate`, {
				method: "PATCH",
				headers: new Headers({
						"Content-Type": "application/json"
					}),
				body: JSON.stringify({date})
			})
			.then(response => {
				if (!response.ok)
					alert("We encountered an error\n\n" + response.message)
				else if (remove) {
					customers = customers.filter (c => c.customerId != customerId)
					// todo, find a nice fade out transition
				}
			})
		}
	}
	}).mount("#app")
</script>


	<%- include("partials/foot.ejs") %>