<%- include("partials/head2.ejs") %>

<p><a href="/screen/deleted">View (and restore) deleted screens</a></p>

<div id=app>

<% if (poweruser) { %>
	<p><input type="button" value="Create New Screen" @click="createNewScreen" /></p>
<% } %>
	<p class="w-½">
		<label for=searchValue>Search: </label>
		<input type=text id=searchValue placeholder="name, number and/or colour (spaces ok)" :value=searchValue @input=onSearchInput>
	</p>
	<easy-data-table
		:headers=headers 
		:items=items 
		theme-color="#005EA5"
		alternating 
		buttons-pagination 
		v-model:server-options=serverOptions 
		:server-items-length=serverItemsLength 
		:loading=loading 
		must-sort
		border-cell
		@expand-row=loadPrints
	 > 
		<template #expand=item>
			<div class=p-4 >
				<div v-if="item.printsError">error: {{ item.printsError }}</div>
				<div v-if="(!item.prints) || item.prints.length == 0">no print designs for this screen</div>
				<media-subtable :data="item.prints" :headers="expandItemHeaders" />
			</div>
    	</template>
		<% if (poweruser) { %> 
	 	<template #item-ScreenId="item"> <span class="fa fa-edit fa-lg" title=Edit @click="editScreen(item)"></span>&emsp;<span class="fa fa-trash fa-lg" title=Delete @click="deleteScreen(item)"></span> 
		</template>
		<% } %>
		<template #item-Name="item">
			<span :class="{italic: item.Name == null, 'font-extralight': item.Name == null}">{{ item.Name == null ? "standard" : item.Name }}</span>
		</template>
		<template #item-LastUsed="item">
			{{  fixLastUsedDate(item.LastUsed) }}
		</template>
	</easy-data-table>

<dialog id=editDialog closedby=any>
	<h3>Edit Screen</h3>
		<input type=hidden v-model="selectedItem.ScreenId">
		<label for=name>Name</label> <input id=name v-model="selectedItem.Name" autofocus><br>
		<label for=number>Number</label> <input id=number v-model="selectedItem.Number" ><br>
		<label for=colour>Colour</label> <input id=colour v-model="selectedItem.Colour"><br>
		<p>
			<button id=saveButton @click="saveScreen">Save</button>&emsp;
			<button id=closeButton style="background-color: var(--color-primary);"> Cancel</button>
		</p>
</dialog>

</div>

<script type=importmap>
{
	"imports": {
		"vue": "../javascripts/vue.esm-browser-3.5.25.js",
		"functions": "../javascripts/utilityFunctions.js",
		"edt": "../javascripts/vue3-easy-data-table.es.js",
		"mediaSubtable": "../components/MediaSubtable.js"
 	}
}
</script>




<script type=module>
	import { createApp, ref, watch } from "vue"
	import EasyDataTable from "edt"
	import {debounce} from "functions"
	import MediaSubtable from "mediaSubtable"

	const App = {
		components: {
			EasyDataTable,
			MediaSubtable
		},
		setup () {
			const loading = ref(false);
			const searchValue = ref("");
			const serverItemsLength = ref(0);
			const serverOptions = ref({
				page: 1,
				rowsPerPage: 25,
				sortBy: "ScreenId",
				sortType: "asc"
			});
			const headers = [
				{ text: "Actions", value: "ScreenId", sortable: false, width: 70 },
				{ text: "Name", value: "Name", sortable: true },
				{ text: "Number", value: "Number", sortable: true },
				{ text: "Colour", value: "Colour", sortable: true },
				{ text: "Last Used", value: "LastUsed", sortable: true }
			]
			const items = ref([])
			const selectedItem = ref({ScreenId: 0, Name: "", Number: "", Colour: ""})
			const newItem = {ScreenId: 0, Name: "", Number: "", Colour: ""}
			const expandItemHeaders = [
				{name: "Code", type: String },
				{name: "Notes", type: String },
				{name: "Comments", type: String },
				{name: "SizeCategory", displayName: "Size", type: String },
				{name: "Front", type: Boolean },
				{name: "Back", type: Boolean },
				{name: "Pocket", type: Boolean },
				{name: "Sleeve", type: Boolean },
			]

			const loadFromServer = async () => {
				loading.value = true;
				const url = `/screen/edt?page=${serverOptions.value.page}&rowsperpage=${serverOptions.value.rowsPerPage}&sortBy=${serverOptions.value.sortBy}&sorttype=${serverOptions.value.sortType}&searchValue=${searchValue.value}`

				const result = await ( await fetch(url)).json()

				items.value = result.serverCurrentPageItems
				serverItemsLength.value = result.serverTotalItemsLength

				loading.value = false;
			}

			const fixLastUsedDate = (dateString) => {
				const date = Date.parse(dateString)
				if (isNaN(date))
					return "not used"
				else {
					let returnValue = new Date(date).toLocaleDateString("en-AU", {day: "numeric", month: "numeric", year: "numeric"})
					// the "numeric" option doesn't seem to work
					returnValue = returnValue.replace(/^0/, "").replace(/\/0/, "/")
					return returnValue
				}
			}

			const onSearchInput = debounce((e)=> {
				searchValue.value = e.target.value.trim()
			}, 1000)

			watch([serverOptions, searchValue], 
				(value) => { 
					loadFromServer(); 
				}, 
				{ 
					deep: true, 
					immediate: true 
				}
			)

			const loadPrints = async (index) => {
				const myIndex = index - ((serverOptions.value.page - 1) * serverOptions.value.rowsPerPage)
				const expandedItem = items.value[myIndex]
				if (expandedItem.prints == undefined) {
					expandedItem.expandLoading = true
					const url = `/screen/prints/${expandedItem.ScreenId}`
					try {
						expandedItem.prints  = await (await fetch(url)).json()
					}
					catch(err) {
						expandedItem.printsError = err.Message
					} 
					expandedItem.expandLoading = false
				}
			}

			const deleteScreen = async function(screen) {
				console.log("delete", screen.ScreenId)
				try {
					const response = await fetch(`/screen/${screen.ScreenId}`, { method: "DELETE" })
					console.log("response", response)
					if (response.ok) {
						const item = items.value.find(item=>item.ScreenId == screen.ScreenId)
						const index = items.value.indexOf(item)
						items.value.splice(index, 1) 
						Swal.fire({
							title: "Deleted",
							text: "We have deleted the screen",
							icon: "success",
							footer: `<a href="/screen/deleted">View deleted screens</a>`
						})
					}
					else
						throw new Error(response.statusText)
				}
				catch (error) {
						Swal.fire({
							title: "We encountered an error",
							text: error.message,
							icon: "error",
							draggable: true
						})
				}
			}

			const editScreen = async function(screen) {
				console.log(`editScreen ${JSON.stringify(screen)}`)
				const item = items.value.find(item=>item.ScreenId == screen.ScreenId)
				selectedItem.value = item
				
				const editDialog = document.getElementById("editDialog")
				editDialog.querySelector("h3").textContent = "Edit screen"
				editDialog.showModal() 
			}

			const saveScreen = async function() {
				console.log(`saveScreen ${JSON.stringify(selectedItem.value)}`)

				try {
					let method = "POST" 
					let url = "/screen"
					if (selectedItem.value.ScreenId > 0) {
						method = "PUT"
						url += `/${selectedItem.value.ScreenId}`
					}
					const response = await fetch(url, {
						method,
						headers: new Headers({
							"Content-Type": "application/json"
						}),
						body: JSON.stringify(selectedItem.value)
					})
					console.log("response", response)
					switch(response.status) {
						case 400: 
							// error -- probably in validation but could be for another reason
							console.log("400 response", response.statusText)
							const responseJson = await response.json()
							const validationMessage = responseJson?.error
							if (validationMessage == "Validation failed") {
								console.log(validationMessage, responseJson.details)
								const messages = responseJson.details.map(d => `${d.path}: ${d.msg}`).join("<br />")
								Swal.fire({
									title: "We encountered an error",
									text: messages,
									icon: "error",
									draggable: true
								})
							}
							else {
								throw new Error(errors)
							}
							break;
						case 201: 
							// succesful post/new
							const json = await response.json()
							console.log("json", json)
							// go to last page and reload from server
							// it would be nice just to add the returned item to the existing array
							// but we wouldn't have a way to show it on the last page
							// without forcing the user go to the last page
							if (response.status == 201) {
								document.getElementById("editDialog").close()
								Swal.fire({
									title: "Saved",
									text: "We have saved the new screen",
									icon: "success"
								})

								serverOptions.value.page = Math.ceil((serverItemsLength.value + 1) / serverOptions.value.rowsPerPage)
								serverOptions.value.sortBy = "ScreenId"
								serverOptions.sortType = "desc"
								await loadFromServer()
							}
							break;
						case 204: 
							// successful put/edit
							document.getElementById("editDialog").close()
							Swal.fire({
								title: "Saved",
								text: "We have saved the changes to the screen",
								icon: "success"
							})

							break;
						default: 
							throw new Error(response.statusText)
					}
				}
				catch (err) {
					console.log("exception: ", err)
					Swal.fire({
						title: "We have enountered an error",
						text: err.message,
						icon: "error",
						draggable: true
					})

				}
			}
			
			const createNewScreen = async function() {
				selectedItem.value = newItem

				const editDialog = document.getElementById("editDialog")
				editDialog.querySelector("h3").textContent = "New screen"
				editDialog.showModal()
			}


			return {
				headers,
				items,
				loading,
				serverOptions,
				serverItemsLength,
				loadPrints,
				searchValue,
				onSearchInput,
				expandItemHeaders,
				deleteScreen,
				editScreen,
				fixLastUsedDate,
				saveScreen,
				selectedItem,
				createNewScreen
			}
		}
  	}
	createApp(App).mount("#app")

</script>

<script defer>
document.addEventListener("DOMContentLoaded", () => 
	document.getElementById("closeButton").addEventListener("click", ()=> 
		document.getElementById("editDialog").close()
	)
)
</script>



<%- include("partials/foot.ejs") %>

