<%- include("partials/head.ejs") %>

<style>
	input[type=checkbox] {
		all: revert;
	}
	input[type=checkbox] {
		height: 2em;
		width: 2em;
	}
</style>

<div style="display:flex; justify-content: space-between;">
	<div>
		<p>
				<label for=orderdate>Order Date</label>
				<input type=date id="orderdate" autofocus />
		</p>
		<p>
				<input type=button value="Clear all" id="clearButton" />
				<input type=button value="Check all" id="checkAllButton" />
		</p>
	</div>
	<div>
		<p>
			<label for=orderNumber>Order Number</label>
			<input id=orderNumber type=text />
		</p>
		<p>
			<a href=# id=oneOrderLink>Csv for this order</a>
		</p>
	</div>
</div>

<table id=orderTable>
	<thead>
		<tr><th style="width:3em">Select<th>Order Number<th>Customer<th>Notes
	<tbody>
</table>

	<p>
		<a href=# id=downloadLink>Download CSV</a>
	</p>



<script>

	document.getElementById("clearButton").addEventListener("click", () => {
		Array.from(document.querySelectorAll("input[type=checkbox]")).forEach(cb => cb.checked = false)
	})

	document.getElementById("checkAllButton").addEventListener("click", () => {
		Array.from(document.querySelectorAll("input[type=checkbox]")).forEach(cb => cb.checked = true)
	})
	

document.getElementById("orderdate").addEventListener("input", function () {
	const orderTable = document.querySelector("#orderTable tbody")
	orderTable.innerHTML = ""

	fetch(`xero/invoices?d=${document.getElementById("orderdate").value}`)
	.then(response => response.json())
	.then(json => {
		json.data.forEach(order => orderTable.insertAdjacentHTML("beforeend", `<td><input type=checkbox checked id="cb_${order.OrderNumber}" data-ordernumber="${order.OrderNumber}" /><td>${order.OrderNumber}<td>${order.Company}<td>${order.Notes}`))
	})
})


document.getElementById("downloadLink").addEventListener("click", function(event) {
	//event.preventDefault()

	const checkboxen = Array.from(document.querySelectorAll("table#orderTable input:checked")).map(cb => cb.dataset.ordernumber)
	event.target.setAttribute("href", `/order/xero/csv?d=${document.getElementById("orderdate").value}&ordernumbers=${checkboxen.join(",")}`)
	
})

document.getElementById("oneOrderLink").addEventListener("click", (event) => {
	event.target.setAttribute("href", `/order/xero/csv?d=${document.getElementById("orderdate").value}&ordernumbers=${document.getElementById("orderNumber").value}`)


})

</script>


<%- include("partials/foot.ejs") %>