
.design-table  {
cursor: pointer;
min-width: unset;
width: unset;
}

section { 
grid-template-columns: auto auto;
}

.breakall {
word-break: break-all;
}

.wide-column {
width: 250px
}

.dataTables_wrapper .dataTables_filter {
text-align: revert;
}

#garmentTable_filter {
display: none

}

.selected-garment {
border: 1px black solid; padding: 1em; 
margin-bottom: 1em;
}

.selected-garment button {
margin-bottom: 0; 
}

section.price-section {
margin-bottom: 2em;
}



button+button, button+input[type=reset], input[type=submit]+button {
margin-left: 2em;
}

table.stockWarningTable {
min-width: unset;
width: unset;
}

#shipOrderButton {
margin-left: 2em;
}
