
main {
	padding-bottom: 1em;
}

main.wider {
	padding-top: 2em;
}

table#orderTable {
	font-size: .75rem;
}


td.alignCentre {
	text-align: center;
}

.garmentDiv + .garmentDiv {
	margin-left: 2px
}
.garmentDiv {
	border: black solid 1px;
	padding: 2px
}

.buttondiv {
	clear:both;
}



