
div#dt_wrapper {
	padding-top: 2em;
}

.flex {
	display:flex;
}

.flex>div + div {
	margin-left: 1em;
}


div#dt_wrapper {
	margin-left: 2em;
}

.buttondiv {
	clear:both;
}

details {
	margin-bottom: var(--unit-2);
}

input[type="search"] {
	float: revert;
	width: 100%;
} 

select {
	/* max-width: unset; */
	width: 100%;
}

.sales-item {
	border: 1px black solid;
	padding: .5em;
}

.sales-item + .sales-item {
	margin-left: .5em;
}


td.centred {
	text-align: center;
}

.sub-table {
	all: revert !important;
	width: 100%;
	margin-left: 3em !important;
	border-right: 1px solid #aaa !important;
	border-bottom: 1px solid #aaa !important;
	border-left: 1px solid #aaa !important;
}
.sub-table thead .sub-num, .sub-table tbody .sub-num {
	text-align: right;
}
table.sub-table tfoot td.sub-num {
	text-align: right;
	border-top: black 1px solid !important;
	font-weight: bold;
}
.subtable-head {
	font-weight: 550;
}


