/* this is not a generated file,
we just add tailwind classes into here as/when needed 
*/

.border {
	border-width: 1px;
}
.border-5 {
	border-width: 5px;
}
.border-black {
	border-color: #000
}
.border-collapse {
	border-collapse: collapse;
}
.border-dashed {
	border-style: dashed;
}
.border-purple {
	border-color: purple; 
}
.border-solid {
	border-style: solid;
}
.font-extralight {
	font-weight: 200;
}
.inline {
	display: inline;
}
.italic {
	font-style: italic;
}
.min-w-initial {
	min-width: initial;
}
.p-4 {
	padding: 1rem;
}
.px-2 {
	padding-left: .5rem;
	padding-right: .5rem;
}
.text-3xl {
	font-size: 1.875rem; 
	line-height: 1.2;
}
.text-xl {
	font-size: 1.25rem;
	line-height: 1.4;
}
.text-center {
	text-align: center;
}
.text-red {
	color: red;
}
.w-initial {
	width: initial;
}
.w-½ {
	width: 50%; 
}
