/* for some reason they set a colour, but this interfered
when datatables went 100% width */
html {
	background-color: reset !important;
}

body {
	background-color: #bbb;
}

main {
	background-color: white;
}

div#orderTable_wrapper {
	background-color: white;
}

/* helps me put an image in the header */
header h1 {
	margin-block-start: 0;
	margin-block-end: 0;
}

main.wider {
	width:1280px; 
	max-width:1280px
}

a.edit-link, a.delete-link  {
	text-decoration: none;
}
a.edit-link:focus,
a.delete-link:focus {
	box-shadow: unset;
	background-color: unset;

}

span.fa-edit, span.fa-plus {
	color: #005ea5;
}

span.fa-trash {
	color: #942514;
}

button:disabled, input[type=button]:disabled, input[type=reset]:disabled, input[type=submit]:disabled {
	opacity: 0.5;
}


.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: #141c38;
  /* padding: 0.5rem;
  border: none; */
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.back-to-top:hover {
  opacity: 60%;
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 2rem;
  height: 2rem;
  /* color: #7ac9f9; */
}


